{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
{% endblock css %}

{% block content %}

    <a href="#"><img src="../static/img/logo.png" class="logo" alt="" title=""/></a>

	<section class="listings" id="listings">
		<div class="wrapper">
        <form action="/order" method="post">
			<h2>Оформление заказа</h2>
			<div class="delivery-info">
				<p><input type="text" name="name" placeholder="Введите Ваше имя" required></p><br>
				<p><input type="text" name="phone_number" placeholder="Введите Ваш номер телефона" required></p>
            <h3> Выберите магазин: </h3>
                <ul class="properties_list">
                    {% for shop in shops %}
                    <li>
                        <a>
                            <img src={{ "../static/img/shops/" + shop.adr }} alt="{{ shop.name }}" title="" class="property_img"/>
                        </a>
                        <div class="property_details">
                            <h1>
                                <input type="radio" name="choose_shop" value="{{ shop.id }}" required>
                                <a>{{ shop.name }}</a>
                            </h1>
                            <h2> {{ shop.desc }}</h2>
                        </div>
                    </li>
                    {% endfor %}
			    </ul>
			</div>
            <h2>Ваша корзина</h2>
            <ul class="properties_list">
                {% for product in bin.products %}
                <li>
					<a href="#">
						<img src={{ "../static/img/products/" + product.adr }} alt="{{ product.name }}" title="" class="property_img"/>
					</a>
					<span class="price">{{ product.price }} руб. </span>
					<div class="property_details">
						<h1>
							<a href="#">{{ product.name }}</a>
						</h1>
						<h2> {{ product.desc }}</h2>
                        <h2> {{ product.count }} шт.</h2>
					</div>
				</li>

                {% endfor %}
			</ul>
            <h2> Общая стоимость </h2>
            <h3> {{ bin.total_sum }} руб.</h3>
            <div class="more_listing" id="to_order">
				<input class="more_listing_btn" type="submit" value="Оформить заказ">
			</div>
        </form>
		</div>
	</section>	<!--  end listing section  -->
{% endblock content %}