{% extends "index.jinja2" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
{% endblock css %}

{% block content %}

	<section class="listings" id="listings">
		<div class="wrapper">
        <form action="/bin" method="post">
			<ul class="properties_list">
                {% for product in products %}
                <li>
					<a>
						<img src={{ "../static/img/products/" + product.adr }} alt="{{ product.name }}" title="" class="property_img"/>
					</a>
					<span class="price">{{ product.price }} руб. </span>
					<div class="property_details">
						<h1>
							<a>{{ product.name }}</a>
						</h1>
						<h2> {{ product.desc }}</h2>
                        <input type="checkbox" name="check_product" value={{ product.id }}>
                        <input type="number" name={{ "count_of_" + product.id|string }} value=1 pattern="[1-9]" min="1">
					</div>
				</li>

                {% endfor %}
			</ul>
			<div class="more_listing" id="to_bin">
				<input class="more_listing_btn" type="submit" value="Положить в корзину">
			</div>
        </form>
		</div>
	</section>	<!--  end listing section  -->
{% endblock content %}
